<body>
<div class="bg-light"
# <div class="container card col-md-6 my-4 bg-info p-2" >
    <h1 class="d-flex align-items-center justify-content-center m-6">Welcome to Gift Card Application</h1>
</div>
</body>